[submodule "themes/hugo-brewm"]
	path = themes/hugo-brewm
	url = https://github.com/foxihd/hugo-brewm
[submodule "noeticacommunity.com/themes/hugo-brewm"]
	path = noeticacommunity.com/themes/hugo-brewm
	url = https://github.com/foxihd/hugo-brewm
